{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
        
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <li class="nav-item">
          <a class="nav-link" href="/deconnexion">Déconnexion</a>
        </li>
        <a class="nav-link" href="/mon">Login
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/creation">Création Utilisateurs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/listeUser">Liste utilisateur</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/listFichier">Liste Fichier</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/fichier">Ajout fichier</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="example-wrapper">
    <h1>Liste des utilisateurs</h1>
    <table class="table table-hover">
    <thead>
      <br>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nom</th>
           <th scope="col">Prenom</th>
          <th scope="col">Mail</th>
          <th scope="col">MotDePasse</th>
         
        </tr>
      </thead>
      <tbody>
    {% for user in listUser %}
        <tr class="table-active">
          <th scope="row">{{ user.id }}</th>
          <th scope="row">{{ user.Nom }}</th>
          <td>{{ user.Prenom}}</td>
          <td>{{ user.Email }}</td>
          <td>{{ user.Password }}</td>
        </tr>
    {% endfor %}
      </tbody>
    </table>


  
</div>
    
{% endblock %}
